
.container {
  font-family: 'Quicksand', sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr 2fr;
}

.header {
  grid-column: 2 / span 1;
  padding: 20px 40px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search-icon {
  background-color: transparent;
  border: none;
  margin-right: 15px;
}

.header__search-input {
  border: none;
  border-radius: 15px;
  background-color: #fee2e2;
  width: 500px;
  height: 30px;
  padding: 0 10px;
}

.header__user-small {
  display: flex;
  align-items: center;
}

.header__notification {
  border: none;
  background-color: transparent;
  margin-right: 20px;
}

.header__small-photo {
  margin-right: 20px;
}

.header__small-photo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.header__small-name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user-big {
  display: flex;
  align-items: center;
}

.header__big-photo {
  margin-right: 20px;
}

.header__big-photo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;  
}

.header__big-name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.header__name-title {
  font-size: 20px;
}

.header__name-title a {
  color: #000;
}

.header__control-btn {
  margin-right: 25px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #ef4444;
  padding: 10px 25px;
}

.header__control-btn:last-child {
  margin-right: 0;
}

.sidebar {
  background-color: #ef4444;
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 20px;
}

.sidebar__logo {
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__logo img {
  margin-right: 15px;
}

.logo__text {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.menu {
  grid-row: 2 / span 1;
}

.menu__item,
.other__item {
  padding-left: 55px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
}

.menu__home::before,
.menu__profile::before,
.menu__message::before,
.menu__history::before,  
.menu__group::before,
.menu__setting::before,
.menu__support::before,
.menu__alien::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: -1px;
  background-repeat: no-repeat;
}

.menu__home::before {
  background-image: url('../images/home.svg');
}

.menu__profile::before {
  background-image: url('../images/account.svg');
}

.menu__message::before {
  background-image: url('../images/message.svg');
}

.menu__history::before {
  background-image: url('../images/clock.svg');
}

.menu__group::before {
  background-image: url('../images/account-group.svg');
}

.menu__setting::before {
  background-image: url('../images/cog.svg');
}

.menu__support::before {
  background-image: url('../images/help-circle.svg');
}

.menu__alien::before {
  background-image: url('../images/alien.svg');
}

.other {
  grid-row: 3 / span 1;
}

.main-container {
  background-color: #fef2f2;
  padding: 20px 10px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.projects {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  padding: 15px 20px;
}

.title {
  margin-bottom: 25px;
}

.projects__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
}

.project__item {
  background-color: #fff;
  border-radius: 10px;
  border-left: 8px solid #dc2626;
  padding: 35px 20px 15px;
}

.projects__content {
  margin-bottom: 50px;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.link__box {
  display: flex;
  justify-content: flex-end;
}

.link__item {
  margin-right: 15px;
}

.link__item:last-child {
  margin-right: 0;
}

.announcements {
  padding: 15px 0 0;
}

.announcement__items {
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  padding: 35px 25px 30px;
}

.announcement__item {
  padding-bottom: 12px;
  border-bottom: 1px solid #fca5a5;
  margin-bottom: 15px;
}

.announcement__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.announcement__title {
  font-size: 15px;
  font-weight: 700;
}

.announcement__text {
  font-size: 15px;
  font-weight: 300;
  color: grey;
}

.trend__items {
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  padding: 35px 25px 30px;
}

.trend__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.trend__img {
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.trend__name {
  font-weight: 700;
  font-size: 16px;
}

.trend__subtitle {
  font-size: 15px;
  font-weight: 300;
  color: grey;
}